.App {
  text-align: center;
}

button {
  font-size: calc(10px + 2vmin);
}

th,
td {
  border: 1px solid teal;
}

.users-data {
  text-align: center;

  margin-left: 35%;
}

.pagination {
  margin-top: 25px;
}
